@import "normalize";
@import "fonts";

body {
  font-family: 'Gilroy', sans-serif;
}

$primary: #9A53FF;
$primaryDark: adjust-color($primary, $whiteness: -15%);
//$primaryDarker: ;
$primaryDarkest: #272738;

$secondaryLightest: #FFF;
//$secondaryLighter:;
//$secondaryLight:;
$secondary: #F1F2F6;
$secondaryDark: #E6E6EB;
$secondaryDarker: #9E9EAF;
//$secondaryDarkest:;


:root {
  --primary: #{$primary};
  --primary-dark: #{$primaryDark};
  --primary-darkest: #{$primaryDarkest};

  --secondary-lightest: #{$secondaryLightest};
  --secondary: #{$secondary};
  --secondary-dark: #{$secondaryDark};
  --secondary-darker: #{$secondaryDarker};
}

body {
  animation: show 2s;
  min-height: 100%;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.splide__arrows {

  & .splide__arrow {

    width: 3.429em;
    height: 3.429em;
    background-color: var(--secondary-lightest);
    opacity: 1;

    &:hover:not(:disabled) {
      opacity: 1;
    }

    top: calc(50% - 1.714em);

    &--prev {
      left: -1.714em;
    }

    &--next {
      right: -1.714em;
    }
  }
}